p {
    color: rgb(255, 0, 157); font-size: 50px;
}

a {
    color:rgb(255, 0, 0); font-size: 75px;
}

h1, a, p, button {
    text-align: center;
  }

  .menu {
    width: 60%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
  }




body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  }



  .center-buttons {
    display: flex;
    flex-direction: column; /* stack buttons and link vertically */
    align-items: center;    /* center horizontally */
    justify-content: center;
    gap: 10px;              /* space between elements */
    margin-top: 20px;
  }
  
  .center-buttons button,
  .center-buttons a {
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
  }
  

  .fruitTexts{
    width: 60%;
    background-color: rgb(0, 218, 170);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    display: flex;
    flex-direction: column; /* stack buttons and link vertically */
    align-items: center;    /* center horizontally */
    justify-content: center;
    gap: 10px;              /* space between elements */
    margin-top: 20px;
  }